#alertTable tr:nth-child(even) {
    background-color:  #d4870a ;
}

#alertTable {
    border-collapse: collapse;
    margin: 10px;
    font-size: 30px;
}

#alertTable, #alertTable th, #alertTable td {
    border: 3px solid white;
}

#alertTable th, #alertTable td{
    padding: 10px;
    text-align: center;
}
